:root {
    --hero-controls-bottom: 0
}

@media(min-width: 1024px) {
    :root {
        --hero-controls-bottom: @apply bottom-12;
    }
}

@keyframes sparkling {
    0% {
        opacity: 0.1;
    }

    20% {
        opacity: 0.8;
    }

    40% {
        opacity: 0.1;
    }

    60% {
        opacity: 0.6;
    }

    80% {
        opacity: 0.8;
    }

    100% {
        opacity: 0.1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes socialLinksFadeInUp {
    from {
        opacity: 0;
        @apply -bottom-96;
    }

    to {
        opacity: 1;
        @apply bottom-20;
    }
}


@keyframes heroControlsFadeInUp {
    from {
        opacity: 0;
        @apply -bottom-96;
    }

    to {
        opacity: 1;
        bottom: var(--hero-controls-bottom) !important;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(.75);
    }

    50% {
        transform: scale(1.03);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes moveUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-8px);
    }
}