@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import './animations.css';


/* Font related styles */
html {
	font-weight: 500;
}

.badge {
	@apply font-mono font-medium -tracking-wider
}

#hero-section-footer-social-links .link {
	font-family: 'Roboto Mono';
	@apply !font-normal
}

.script-font {
	font-family: 'Dangrek';
}


/* Scroll indicators styles */
#scrollIndicators {
	@apply hidden absolute top-0 -right-10 flex items-center justify-center h-screen;
}

#scrollIndicators .indicators {
	@apply fixed;
}

#scrollIndicators .indicators .indicator {
	@apply relative cursor-pointer opacity-0 w-4 h-4 rounded-s-sm rounded-r-sm shadow-[3px_3px_0_0] shadow-yellow-800 bg-brown-100 duration-75 transition-colors animate-[fadeIn_.5s_ease-out_forwards] dark:bg-brown-900 dark:border-2 dark:border-yellow-200 dark:shadow-yellow-200;
}

#scrollIndicators .indicators .indicator.active,
#scrollIndicators .indicators .indicator:hover {
	@apply bg-yellow-800 scale-125 dark:bg-yellow-200 dark:border-yellow-200 dark:shadow-yellow-200;
}

#scrollIndicators .indicators .indicator:hover::after {
	content: attr(data-title);
	@apply bg-yellow-50 rounded-sm border-2 border-yellow-800 px-1 py-0.5 absolute right-1/2 translate-x-1/2 -top-7 text-xs capitalize dark:border-yellow-50 dark:text-yellow-800
}

#scrollIndicators .indicators .indicator:not(:last-child) {
	@apply mb-5;
}

/* control class (for input/textarea..) */
.control {
	@apply border border-yellow-800 p-3 bg-white rounded-md text-lg font-semibold focus:ring-4 focus:ring-brown-500 !outline-none focus:border-transparent dark:bg-brown-900 dark:border-transparent dark:focus:border-transparent dark:focus:ring-yellow-200 dark:focus:bg-transparent
}

.control::placeholder {
	@apply text-yellow-800 dark:text-inherit;
}

/* Projects Archive Viewer */

.archive-viewer-overlay {
	@apply fixed top-0 left-0 bottom-0 right-0 bg-yellow-200 opacity-0 transition-opacity duration-1000 invisible;
}

.archive-viewer-overlay:target {
	@apply visible opacity-100;
}

/* Various Styles */
.lang-switcher-btn {
	@apply inline-block px-1 w-full bg-brown-50 text-yellow-800 hover:bg-yellow-800 hover:opacity-100 hover:text-yellow-50 dark:bg-transparent dark:text-yellow-200 dark:hover:bg-yellow-200 dark:hover:text-yellow-900;
}

.lang-switcher-btn.selected {
	@apply bg-yellow-800 text-yellow-50 cursor-default pointer-events-none dark:bg-yellow-200 dark:text-yellow-900;
}

.hero-nav-item {
	@apply font-medium text-lg block py-2 px-4 rounded capitalize relative lg:bg-transparent lg:p-0 dark:lg:text-yellow-200;
}

#navbar-default li:nth-child(1) .hero-nav-item {
	@apply font-extrabold
}

.line-before {
	@apply before:content-[''] before:block before:w-0 before:h-1 before:rounded before:absolute before:-top-2 before:bg-yellow-400 before:ease-linear before:duration-200;
}

.line-before-hover {
	@apply lg:before:hover:w-full;
}

.line-before-static {
	@apply line-before bg-white text-brown-500 hover:text-yellow-800 lg:text-yellow-800 lg:before:w-full lg:bg-transparent dark:text-yellow-400;
}

.section {
	@apply px-4 py-20 opacity-0 md:px-8 lg:px-16 lg:py-28;
}

.colored-section {
	@apply bg-yellow-50 dark:bg-inherit text-yellow-800 dark:text-yellow-300;
}

.primary-btn.loading .spinner {
	@apply inline;
}

.career-section .card:not(:first-child) {
	@apply before:content-[''] before:block before:w-1 before:h-[1.25rem] before:bg-yellow-800 before:absolute before:left-12 before:-top-[1.3rem] dark:before:bg-yellow-200 before:-z-10
}

.hero-section ul#hero-section-footer-social-links li:not(:last-child) .link {
	@apply mb-32
}