@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes sparkling {
  0% {
    opacity: .3; 
  }

  20% {
    opacity: .8; 
  }

  40% {
    opacity: .4; 
  }

  60% {
    opacity: .6; 
  }

  80% {
    opacity: .9; 
  }

  100% {
    opacity: .3; 
  }
}

.animate-sparkling {
  animation-name: sparkling;
  animation-timing-function: linear;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

.lang-switcher-btn.selected {
  @apply opacity-60 cursor-default;
}