@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import './animations.css';
@import './scrollbar.css';


/* Font related styles */
html {
	font-weight: 500;
}

.badge {
	@apply font-mono font-medium -tracking-wider
}

/* TODO create a separate class for this like script-font class */
#hero-section-footer-social-links .link {
	font-family: 'Roboto Mono';
}

.script-font {
	font-family: 'Dangrek';
}

/* Scroll indicators styles */
#scroll-spy-indicators {
	@apply hidden absolute top-0 items-center justify-center h-screen lg:flex lg:-right-2 xl:-right-4 2xl:-right-8;
}

#scroll-spy-indicators .indicators {
	@apply fixed;
}

#scroll-spy-indicators .indicators .indicator {
	@apply relative cursor-pointer opacity-0 w-4 h-4 rounded-s-sm rounded-r-sm shadow-[3px_3px_0_0] shadow-yellow-800 bg-brown-100 duration-75 transition-colors animate-[fadeIn_.5s_ease-out_forwards] dark:bg-brown-900 dark:border-2 dark:border-yellow-200 dark:shadow-yellow-200;
}

#scroll-spy-indicators .indicators .indicator.active,
#scroll-spy-indicators .indicators .indicator:hover {
	@apply bg-yellow-800 scale-125 dark:bg-yellow-200 dark:border-yellow-200 dark:shadow-yellow-200;
}

#scroll-spy-indicators .indicators .indicator:hover::after {
	content: attr(data-title);
	@apply bg-yellow-50 rounded-sm border-2 border-yellow-800 px-1 py-0.5 absolute right-1/2 translate-x-1/2 -top-7 text-xs capitalize dark:border-yellow-50 dark:text-yellow-800
}

#scroll-spy-indicators .indicators .indicator:not(:last-child) {
	@apply mb-5;
}

/* control class (for input/textarea..) */
.control {
	@apply border border-yellow-800 p-2.5 bg-white rounded-md transition-all !outline-none ring-1 ring-brown-400 focus:ring-2 focus:ring-yellow-500 focus:border-transparent dark:bg-brown-900 dark:border-transparent dark:focus:border-transparent dark:focus:ring-yellow-200 dark:focus:bg-transparent
}

.control::placeholder {
	@apply text-yellow-800 dark:text-inherit;
}

/* Various Styles */
.lang-switcher-btn {
	@apply inline-block px-1 w-full text-center font-bold bg-brown-50 text-yellow-800 hover:bg-yellow-800 hover:opacity-100 hover:text-yellow-50 dark:bg-transparent dark:text-yellow-200 dark:hover:bg-yellow-200 dark:hover:text-yellow-900;
}

.lang-switcher-btn.selected {
	@apply bg-yellow-800 text-yellow-50 cursor-default pointer-events-none dark:bg-yellow-200 dark:text-yellow-900;
}

#hero-section-footer-lang-switcher li:last-of-type .lang-switcher-btn {
	@apply border-t-2 border-t-yellow-800 dark:border-t-yellow-200;
}

.hero-nav-item {
	@apply font-medium text-lg block py-1 px-3 rounded capitalize relative lg:bg-transparent lg:p-0 dark:lg:text-yellow-200;
}

#navbar-default li:nth-child(1) .hero-nav-item {
	@apply font-extrabold
}

.line-before {
	@apply before:content-[''] before:block before:w-0 before:h-1 before:rounded-sm before:absolute before:-top-2 before:bg-yellow-400 before:ease-linear before:duration-200;
}

.line-before-hover {
	@apply lg:before:hover:w-full;
}

.line-before-static {
	@apply line-before bg-yellow-200 text-brown-900 lg:text-yellow-800 lg:before:w-full lg:bg-transparent dark:text-yellow-900 dark:bg-yellow-200 dark:lg:bg-transparent dark:lg:text-yellow-200;
}

.section {
	@apply px-4 py-20 opacity-0 md:px-8 lg:px-16 lg:py-28;
}

.colored-section {
	@apply bg-yellow-50 dark:bg-inherit text-yellow-800 dark:text-yellow-300;
}

.primary-btn.loading .spinner {
	@apply inline;
}

.career-section .card:not(:first-child) {
	@apply before:content-[''] before:block before:w-[.2rem] before:h-[.6rem] before:bg-yellow-800 before:absolute before:left-12 before:-top-[.6rem] dark:before:bg-yellow-200 before:-z-10;
}

.hero-section ul#hero-section-footer-social-links li:not(:last-child) .link {
	@apply mb-32
}

.js-only {
	display: none;
}

.js-enabled .js-only {
	display: block;
}

.grecaptcha-badge {
	@apply invisible;
}