@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import './animations.css';

html {
	font-weight: 500;
}

.badge {
	@apply font-mono font-medium -tracking-wider
}

#hero-section-footer-social-links .link {
	font-family: 'Roboto Mono';
	@apply !font-normal
}

.script-font {
	font-family: 'Dangrek';
}

#hero-section-footer-lang-switcher {
	@apply script-font border-2 border-yellow-950 rounded shadow-sm
}

.lang-switcher-btn {
	@apply inline-block w-full bg-brown-500 text-yellow-50 px-1 hover:bg-yellow-900 dark:bg-brown-500;
}

.lang-switcher-btn.selected {
	@apply bg-brown-300 text-yellow-900 cursor-default opacity-60 dark:text-yellow-100;
}

.hero-nav-item {
	@apply font-medium text-lg block py-2 px-4 rounded capitalize relative lg:bg-transparent lg:p-0 text-yellow-900 dark:lg:text-yellow-200;
}

#navbar-default li:nth-child(1) .hero-nav-item {
	@apply font-extrabold
}

.line-before {
	@apply before:content-[''] before:block before:w-0 before:h-1 before:rounded before:absolute before:-top-2 before:bg-yellow-400 before:ease-linear before:duration-200;
}

.line-before-hover {
	@apply lg:before:hover:w-full;
}

.line-before-static {
	@apply line-before bg-white text-brown-400 hover:text-yellow-900 lg:text-yellow-900 lg:before:w-full lg:bg-transparent dark:text-yellow-400;
}

.section {
	@apply px-4 py-20 opacity-0 md:px-8 lg:px-16 lg:py-28;
}

.colored-section {
	@apply bg-yellow-50 dark:bg-inherit text-yellow-900 dark:text-yellow-300;
}

.primary-btn.loading .spinner {
	@apply inline;
}

.drop-shadow-trans {
	--tw-drop-shadow: drop-shadow(0 0px 0px rgb(0 0 0 / 0));
	filter: var(--tw-drop-shadow);
}