/* Firefox */

@supports not selector(::-webkit-scrollbar) {
    * {
        scrollbar-color: theme('colors.yellow.800') transparent;
    }
    html.dark * {
        scrollbar-color: theme('colors.yellow.200') transparent;
    }
}


/* Chrome, Edge, Safari ... */

::-webkit-scrollbar {
    @apply w-2;
}

::-webkit-scrollbar-thumb {
    @apply bg-yellow-800;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-yellow-800/90
}

html.dark ::-webkit-scrollbar-thumb {
    @apply bg-yellow-200;
}

html.dark ::-webkit-scrollbar-thumb:hover {
    @apply bg-yellow-300
}